{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% if PageContext.MetaDescription %}
  <meta name="description" content="{{ PageContext.MetaDescription }}">
  {% else %}
  <meta name="description" content="Kibo Commerce - Storefront">
  {% endif %}
  <meta name="keywords" content="{{ PageContext.MetaKeywords }}">
  <meta name="correlationId" content="{{ pageContext.correlationId }}">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
  <meta name="theme-color" content="#000000" />

  <link rel="icon" href="/resources/favicon.ico" />
  <link rel="apple-touch-icon" href="/resources/logo192.png" />
  <link rel="manifest" href="/resources/manifest.json" />

  <title>{% block title-tag-content %}{{ siteContext.generalSettings.websiteName }} {% endblock title-tag-content %}</title>

  {% if PageContext.FeedUrl  %}
  <link rel="alternate" type="application/rss+xml" title="{{ PageContext.Title }}" href="{{ PageContext.FeedUrl }}" />
  {% endif %}

  {% if PageContext.CrawlerInfo.CanonicalUrl  %}
  <link rel="canonical" href="{{PageContext.CrawlerInfo.CanonicalUrl}}">
  {% endif %}

  {% if PageContext.CrawlerInfo.PreviousUrl  %}
  <link rel="prev" href="{{PageContext.CrawlerInfo.PreviousUrl}}">
  {% endif %}

  {% if PageContext.CrawlerInfo.NextUrl  %}
  <link rel="next" href="{{PageContext.CrawlerInfo.NextUrl}}">
  {% endif %}

  <script src="{{siteContext.cdnPrefix}}/js/sdk-{% if debugMode %}debug{% endif %}{% if not debugMode %}min{% endif %}.js?cacheKey={{ siteContext.hashString }}">
  </script>

  {% include "modules/json-required-for-hyprlive" %}
  {% include "modules/site-nav" %}

  {% if pageContext.isEditMode %}
  <link rel="stylesheet" href="{{siteContext.cdnPrefix}}/resources/cms/layout.css">
  <link rel="stylesheet" href="//{{siteContext.generalSettings.customCdnHostName}}/common/admin/scripts/chorizo/build/chorizo.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% endif %}

  {% block head-tag-content %}{% endblock head-tag-content %}
</head>
<body data-pg-ctx="{'isEditMode': '{{pageContext.isEditMode|lower }}', 'isDebugMode': '{{pageContext.isDebugMode|lower}}'}">
<noscript>You need to enable JavaScript to run this app.</noscript>
<div class="dropzone-area" style="display: none !important;">
{% block dropzone-area %}{% endblock dropzone-area %}
</div>

{% block before-react-container %}{% endblock before-react-container %}
<div id="root"></div>
{% block after-react-container %}{% endblock after-react-container %}

{% if pageContext.isEditMode %}
<script type="text/javascript" src="/scripts/site_editor_chorizo_v1.js"></script>
{% include "modules/trailing-scripts" %}
{% endif %}
</body>
</html>
{% endspaceless %}
